<h1>Enter your paper details</h1>

<form action="/sizeit" method="post">
  <div class="form-group">
    <label for="paper_height">Paper height (cm)</label>
    <input type="text" class="form-control" id="paper_height" name="paper_height" placeholder="00.0">
  </div>

  <div class="form-group">
    <label for="paper_width">Paper width (cm)</label>
    <input type="text" class="form-control" id="paper_width" name="paper_width" placeholder="00.0">
  </div>

  <div class="form-group">
    <label for="paper_width">Are the chain lines vertical or horizontal? (Note: the laid lines always run perpendicular to the chain lines and are easier to see.)</label>
    <select class="form-control" id="chain_lines" name="chain_lines">
      <option></option>
      <option value="vertical">Vertical</option>
      <option value="horizontal">Horizontal</option>
    </select>
  </div>

  <div class="form-group">
    <label for="paper_width">Can you see the deckle edge?</label>
    <select class="form-control" id="deckle" name="deckle">
      <option></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>