<h2>Your paper</h2>

<p><strong>Height:</strong> <%= paper_height %></p>

<p><strong>Width:</strong> <%= paper_width %></p>

<p><strong>Laid lines:</strong> <%= laid_lines %></p>

<p><strong>Chain lines:</strong> <%= chain_lines %></p>